<html>
<head>
<title><%=TOURNAMENT_TITLE%></title>
<%= javascript_include_tag 'prototype' %>
<%= javascript_include_tag 'bracket' %>
<%= stylesheet_link_tag 'main' %>
<%= stylesheet_link_tag 'bracket' %>
<%= csrf_meta_tag %>
</head>
<body>
<%= yield %>
</body>
</html>
