<html>
<head>
<title><%=TOURNAMENT_TITLE%></title>
<%= stylesheet_link_tag 'main' %>
<%= stylesheet_link_tag 'reports' %>
</head>
<body>
<div id="wrap">
<div id="nav">
<ul>
<li><%= link_to "Home", :controller => 'pool', :action => 'index'%></li>
<% if session[:user_id] -%>
<li><%= link_to "Logout", :controller => 'sessions', :action => 'destroy'%></li>
<% else -%>
<li><%= link_to "Login", :controller => 'sessions', :action => 'new'%></li>
<li><%= link_to "Signup", :controller => 'users', :action => 'new'%></li>
<% end -%>
</ul>
</div>
<div id="messages">
<% if flash[:info] %>
<div id="info"><%= flash[:info] %></div>
<% end %>
<% if flash[:notice] %>
<div id="notice"><%= flash[:notice] %></div>
<% end %>
<% if flash[:error] %>
<div id="error"><%= flash[:error] %></div>
<% end %>
</div>
<div id="main_report">
<%= yield %>
</div>
<div id="footer">
<%= render :partial => 'shared/admins' %>
</div>
</div>
</body>
</html>
