<h1>User Entries in <%=@pool.name%></h1>
<% if @pool.user_entries.size > 0 -%>
<table border="0" cellspacing="0" cellpadding="3">
<tr class="entryTableHead">
<th>User</th>
<th>Entry Name</th>
<th>Completed?</th>
</tr>
<% @pool.user_entries.each do |entry| -%>
<tr class="<%= cycle("entryTableEven", "entryTableOdd")%>">
<td><%=entry.user.login%></td>
<td><%=link_to entry.name, :controller => 'entry', :action => 'show', :id => entry.id%></td>
<td><%=entry.completed%></td>
</tr>
<% end -%>
</tr>
</table>
<% else -%>
<p>
<i>There are no user entries in this pool.</i>
</p>
<% end -%>
<p>
&nbsp;
</p>
