<h1><%=TOURNAMENT_TITLE%></h1>

<% if Pool.active_pools.size > 0 %>
<% Pool.active_pools.each do |pool| -%>
<p>
<%= pool.name %>
<small>
<% if current_user && pool.user_id == current_user.id %>
&nbsp;
<%= link_to '[Edit]', :controller => 'admin', :action => 'pool', :id => pool.id %>
<%= link_to '[Entries]', :controller => 'admin', :action => 'entries', :id => pool.id %>
<% end %>
<%= link_to '[Reports]', "/reports/#{pool.id}"%>
</small>
<br/>
Starts: <%= pool.starts_at.to_date.to_formatted_s(:short)%>
Pending Entries: <%= pool.pending_entries.size%>
Total Entries: <%= pool.user_entries.size%>
<br/>
<% if current_user -%>
Entries for <%= current_user.login%>: <%= link_to pool.entries_for(current_user).size, :controller => 'entry', :action => 'index', :id => pool.id %>
<%= link_to 'Add New Entry', :controller => 'entry', :action => 'new', :id => pool.id %>
<br/>
<% else -%>
<i>To enter this pool, please <%= link_to 'login', '/login'%> or <%= link_to 'signup', '/signup'%></i>
<% end -%>
</p>
<% end -%>
<% else -%>
<p>
There are no active pools.  Please come back in a bit or contact
an administrator.
</p>
<% end -%>
