<h1>Lost Password</h1>
<p>
Please enter the email address that you registered with.  Once you click
on the Send button, we will send you an email that allows you to change
your password.
</p>
<%= error_messages_for :user, :header_message => "Please review the following errors:", :message => '' %>
<% form_for :user do |f| -%>
<table>
<tr>
<td align="right"><%= label_tag 'email' %></td>
<td><%= f.text_field :email %></td>
</tr>
<tr>
<td align="right"><%= label_tag 'email_confirmation' %></td>
<td><%= f.text_field :email_confirmation %></td>
</tr>
</table>
<p><%= submit_tag 'Send' %></p>
<% end -%>
